<nav>
  <mat-toolbar color="primary">
    <button mat-button  [routerLink]="['']">
      <img src="assets/images/JG2.png">
        Johny Galon
    </button> 

    <button mat-button [matMenuTriggerFor]="menu">Tootoral</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/tutoral/mock']" >Mock table</button>
        <button mat-menu-item [routerLink]="['/tutoral/sd']" >Sd table</button>
        <button mat-menu-item [routerLink]="['/tutoral/flight']" >flight table</button>
    </mat-menu> 
    <div class="flex-spacer" ></div>
    <div class="tb-note" >
      <p >{{subCaption}}</p>
    </div>
  </mat-toolbar>
</nav> 

<router-outlet></router-outlet> 

