<app-jn-busy-bar></app-jn-busy-bar>

<nav class="jg-nav">
    <!-- <mat-toolbar class = "jg-i-header mat-elevation-z8" > 
            <div class="flex-spacer" ></div>
            <mat-spinner *ngIf="!(spiner$ |async)"  color="accent" diameter="16"> </mat-spinner>    
    
            <div class="tb-note" >
                <p> {{ subCaption$ | async }} </p>
            </div>
    </mat-toolbar> -->

    <mat-toolbar  color="primary" class="mat-elevation-z6"  >

        <button mat-button  [routerLink]="['']" class="but-title" >
            <mat-icon svgIcon="nva"  class="icon-title"  ></mat-icon>
            НВА
        </button>

        <button mat-button [matMenuTriggerFor]="menu">Формы</button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['forms/sd/incoming']" >Добровольное сообщение </button>
            <button mat-menu-item [routerLink]="['tutoral/values']" > === </button>
        </mat-menu> 

        <!-- <mat-menu #menu="matMenu1">
            <button mat-menu-item [routerLink]="['tutoral/values']" > === </button>
        </mat-menu>  -->

        <span class="flex-spacer"></span>
        <!--<mat-icon *ngIf="(isAuth$ | async)" >account_circle</mat-icon>

        <button mat-stroked-button (click) = "Login()" class="but-title" > -->
             <!-- [routerLink]="['Login']" -->
             <!-- (click) = "Login()"  -->
            <!-- {{ (isAuthButCaption$| async) }}  
        </button>  -->

        <button *ngIf="(isAuth$|async)" mat-icon-button [matMenuTriggerFor]="menuLogout" >
                <mat-icon>account_circle</mat-icon>
              </button>
              <mat-menu #menuLogout="matMenu">
                <button mat-menu-item (click) = "Login()" >
                  <mat-icon>account_balance</mat-icon>
                  <span>Выйти</span>
                </button>
              </mat-menu> 

        <button *ngIf="!( isAuth$ | async)" mat-icon-button [matMenuTriggerFor]="menuLogin" >
                <mat-icon>perm_identity</mat-icon>
              </button>
              <mat-menu #menuLogin="matMenu">
                <button mat-menu-item (click) = "Login()" >
                  <mat-icon>account_balance</mat-icon>
                  <span>Nvavia</span>
                </button>
                <button mat-menu-item (click) = "Login('GOOGLE')">
                  <mat-icon>language</mat-icon>
                  <span>Google +</span>
                </button>
              </mat-menu> 

    </mat-toolbar >
</nav>
    
<!-- <app-jn-busy-box></app-jn-busy-box> -->

<main class="jn-content jg-layout"> 
    <div class="jn-content-col" >

        <div class="jn-content-p"> 
            <router-outlet></router-outlet>
        </div>     

        <div class="jg-fill-spacer"></div>

        <footer class="mat-elevation-z6" >
            <mat-toolbar color="primary">
                <div ></div>
                <div class="jg-footer-copyright" >
                    <span style="color:white">AO "Нижневартовскавиа" ©2018-2019. </span>
                    <span><img class="jg-smal-img"  src="assets/images/JG2.png"> Johny Galon application 2018-2019. </span>
                    <span><img class="jg-smal-img"  src="assets/images/isp.ico"> Ispolin project 2017-2019. </span>
                </div>
            </mat-toolbar> 
        </footer>
        
    </div>
</main>






