<app-jn-busy-bar></app-jn-busy-bar>
<app-jn-error-bar></app-jn-error-bar> 
<app-jn-auth-selector></app-jn-auth-selector>


<nav class="jg-nav">
    <!-- <mat-toolbar class = "jg-i-header mat-elevation-z8" > 
            <div class="flex-spacer" ></div>
            <mat-spinner *ngIf="!(spiner$ |async)"  color="accent" diameter="16"> </mat-spinner>    
    
            <div class="tb-note" >
                <p> {{ subCaption$ | async }} </p>
            </div>
    </mat-toolbar> -->

    <mat-toolbar  color="primary" class="mat-elevation-z6"  >

        <button mat-button  [routerLink]="['']" class="but-title" >
            <mat-icon svgIcon="nva"  class="icon-title"  ></mat-icon>
            НВА
        </button>

        <button mat-button [matMenuTriggerFor]="menu">Формы</button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['forms/sd/incoming']" >Добровольное сообщение </button>
            <!-- <button mat-menu-item [routerLink]="['tutoral/values']" > === </button> -->
            <button mat-menu-item [routerLink]="['forms/wc']" >Макеты веб-страниц </button>
        </mat-menu> 

        <!-- <mat-menu #menu="matMenu1">
            <button mat-menu-item [routerLink]="['tutoral/values']" > === </button>
        </mat-menu>  -->

        <span class="flex-spacer"></span>
        <!--<mat-icon *ngIf="(isAuth$ | async)" >account_circle</mat-icon>

        <button mat-stroked-button (click) = "Login()" class="but-title" > -->
             <!-- [routerLink]="['Login']" -->
             <!-- (click) = "Login()"  -->
            <!-- {{ (isAuthButCaption$| async) }}  
        </button>  -->


        <!-- <div mat-card-avatar style=" background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')"  class="example-header-image"></div>
        <div mat-card-avatar style=" background-image: url(' https://lh3.googleusercontent.com/a-/AAuE7mB1HZZ0MueTBNacG6E3W78Zk_2Lkexs92TXDEa8=s96-c')"  class="example-header-image"></div>
        <div  mat-card-avatar [style.background-image] = "'url('+(loginPicUri$|async)+')'" class="example-header-image" > </div>  -->

        

        <!-- <div mat-card-avatar [style.background-image] = "https://lh3.googleusercontent.com/a-/AAuE7mB1HZZ0MueTBNacG6E3W78Zk_2Lkexs92TXDEa8=s96-c"  class="example-header-image"></div>
        
        <div mat-card-avatar  class="example-header-image"> -->
          
          
        
       
        <!-- <div [ngStyle]="{'background-image': 'url(https://lh3.googleusercontent.com/a-/AAuE7mB1HZZ0MueTBNacG6E3W78Zk_2Lkexs92TXDEa8=s96-c)'}"></div> -->
        
       
              
        <button *ngIf="(isAuth$|async)"  matTooltip="{{ loginName$|async}}" mat-icon-button [matMenuTriggerFor]="menuLogout" >
          
                <div *ngIf="(loginPicUri$|async)"  mat-card-avatar [style.background-image] = "'url('+(loginPicUri$|async)+')'" class="example-header-image" > </div>
                <mat-icon *ngIf="!(loginPicUri$|async)" >account_circle</mat-icon>  
                
              </button>
              <mat-menu #menuLogout="matMenu">
                <button mat-menu-item   (click) = "Login()" >
                   <mat-icon >account_balance</mat-icon> 
                  <span>Выйти</span>
                </button>
              </mat-menu> 

        <button  matTooltip="Войти"  *ngIf="!( isAuth$ | async)" mat-icon-button [matMenuTriggerFor]="menuLogin" >
                <mat-icon>perm_identity</mat-icon>
              </button>
              <mat-menu #menuLogin="matMenu">
                <button mat-menu-item (click) = "Login()" >
                  <mat-icon svgIcon="nva" color ="primary" class="icon-title-auth1"></mat-icon>
                  <!-- <mat-icon>account_balance</mat-icon> -->
                  <span>Nvavia</span>
                </button>
                <button mat-menu-item (click) = "Login('GOOGLE')">
                    <mat-icon class="icon-title-auth2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 46 " width="36px" height="36px">
                          <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"/><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"/><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"/><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"/>
                        </svg> 
                      </mat-icon>
            
                  <!-- <mat-icon>language</mat-icon> -->
                  <span>Google</span>
                </button>
              </mat-menu> 

    </mat-toolbar >
</nav>



<!-- <app-jn-busy-box></app-jn-busy-box> -->

<main class="jn-content jg-layout"> 
    <div class="jn-content-col" >

        <div class="jn-content-p"> 
            <router-outlet></router-outlet>
            <!-- <app-jnp-flight-item flightId=5637187138 > </app-jnp-flight-item> -->
        </div>     

        <div class="jg-fill-spacer"></div>

        <footer class="mat-elevation-z6" >
            <mat-toolbar color="primary">
                <div ></div>
                <div class="jg-footer-copyright" >
                    <span style="color:white">AO "Нижневартовскавиа" ©2018-2019. </span>
                    <span><img class="jg-smal-img"  src="assets/images/JG2.png"> Johny Galon application 2018-2019. </span>
                    <span><img class="jg-smal-img"  src="assets/images/isp.ico"> Ispolin project 2017-2019. </span>
                </div>
            </mat-toolbar> 
        </footer>
        
    </div>
</main>

<app-jn-info-box></app-jn-info-box>




