<div *ngIf = "controls$ | async  as ctrls  ; else loading; ">   
  <!-- $ | async -->
  <form (ngSubmit)="onSubmit()" [formGroup]="ctrls.formGroup"> 
  
    <div *ngFor="let question of ctrls.questions" class="form-row">
        <app-jn-item-question [question]="question" [form]="ctrls.formGroup" ></app-jn-item-question> 
    </div>

     <!-- <div class="form-row">
       <button mat-raised-button type="submit">Добавить запись</button>
    </div>   -->
    
  </form>

</div>



<ng-template #loading >
        <mat-spinner  diameter="60" style="margin:0 auto;" mode="indeterminate" > </mat-spinner>
</ng-template>
