
<header >

    Нижневартовское авиапредприятие было образовано 20 июля 1965 года.

    Открытие Самотлорского месторождения стало причиной и началом бурного развития нефтегазового комплекса в Тюменском регионе. В глухой тайге и непроходимых болотах авиаторы стали незаменимыми помощниками геологов, нефтяников, энергетиков и жителей Нижневартовского района.
    
    Чтобы обеспечить постоянно растущий объем перевозок пассажиров и грузов коллектив предприятия развивался вместе с городом и неоднократно реконструировал аэродром-аэропорт, увеличивая его пропускную способность, модернизируя техническое оснащение. В 1972 году с вводом в эксплуатацию бетонной полосы состоялся первый рейс самолёта Ту-134 на Москву. Первая реконструкция в 1981 году позволила принять Ту-154. В 1982 году был сдан в эксплуатацию аэровокзал, а в 1984 году Нижневартовскому объединенному авиаотряду и аэропорту Нижневартовск присваивается первый класс. Вторая реконструкция дала возможность в 1990 году принять Ил-86. После третьей реконструкции в 2005 году аэропорту присвоен статус международного.
    
    В 1973 году коллектив начинает эксплуатацию вертолёта Ми-8, в 1979 – Ми-6, а в 1989 году приступает к освоению Ми-26.       
    
    Авиапредприятие находилось в разном юридическом статусе: авиационная эскадрилья, объединенный авиаотряд, ГУАП, ФГУП, ОАО, а с 13.05.2016 г. – Акционерное общество «Нижневартовскавиа», но неизменно форма собственности оставалась государственной. В 2009 году, в соответствии с Указом Президента РФ, 100 % акций переданы Ханты-Мансийскому автономному округу.
    
    В настоящее время АО «Нижневартовскавиа» – предприятие с мощной материально-технической базой, располагающее собственным вертолетным парком Ми-8, Ми-8 АМТ, аэропортом со взлетно-посадочной полосой 3200 на 60 м., способным принимать Ан-124 «Руслан», а также «Боинги» и «Эйрбасы» всех типов по 1 категории ИКАО с обоих напра

</header>
