
 <div [formGroup]="form"> 
    <div [ngSwitch]="question.controlType">
                  
        <mat-form-field *ngSwitchCase="'textbox'" class="example-full-width" >
            <input matInput placeholder={{question.getExLabel()}} [formControlName]="question.key" [id]="question.key" [type]="question.type"   > 
            <mat-hint *ngIf="!!question.hint"> {{question.hint}} </mat-hint> 
            <mat-error>
                {{errorMessage()}}
            </mat-error>  
          </mat-form-field>

          <mat-form-field *ngSwitchCase="'textarea'" class="example-full-width" >
              <textarea matInput placeholder={{question.getExLabel()}} [formControlName]="question.key" [id]="question.key" [type]="question.type" rows="3" ></textarea>
              <mat-hint *ngIf="!!question.hint"> {{question.hint}} </mat-hint> 
              <mat-error>
                  {{errorMessage()}}
              </mat-error>  
            </mat-form-field>          
      
            <div *ngSwitchCase="'checkbox'">
                <p></p>
                <mat-checkbox  [formControlName]="question.key" [id]="question.key"> {{question.getExLabel()}} </mat-checkbox>
                <p></p>
            </div>  

            <mat-form-field *ngSwitchCase="'dropdown'" class="example-full-width">
                    <!-- <p>{{question.optionsLoc}} </p> -->
                    <mat-select placeholder={{question.label}} [id]="question.key"  [formControlName]="question.key"  >
                      <!-- <mat-option *ngFor="let opt of question.options$ | async" [value]="opt.key">{{opt.value}}</mat-option> -->
                      <mat-option *ngFor="let opt of options$ | async" [value]="opt.key">{{opt.value}}</mat-option>
                    </mat-select>
            </mat-form-field>
        
            <mat-form-field *ngSwitchCase="'datepicker'">
                <input matInput [matDatepicker]="picker" placeholder={{question.label}} [formControlName]="question.key" [id]="question.key" [type]="question.type" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> 
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'datetimepicker'" class="example-datetime-width" >
                <input type="datetime-local"  matInput  placeholder={{question.label}} [formControlName]="question.key" [id]="question.key"   >
            </mat-form-field>   

            <div *ngSwitchCase="'textarea_html'">
                <app-jg-textarea-html  placeholder={{question.label}} [formControlName]="question.key" [id]="question.key"> </app-jg-textarea-html> 
                
            </div>

            <!-- <mat-form-field *ngSwitchCase="'textarea_html'" > -->
                    <!-- <form-field-custom-control-example></form-field-custom-control-example> -->
                    <!-- <app-jg-textarea-html  [formControlName]="question.key" [id]="question.key"></app-jg-textarea-html> -->
                    <!-- <ckeditor [formControlName]="question.key" [id]="question.key" data="<p>Hello, world!</p>"></ckeditor> -->
            <!-- </mat-form-field>    -->
    
          

    </div> 
  </div> 