 
 .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .example-tree-node {
    display: block;
  }
  
  .example-tree-node .example-tree-node {
    padding-left: 40px;
  } 

  .example-card {
    max-width:  800px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;  
    padding:0 !important;

  }  

  .ex-mat-icon {
    font-size: 50px;
  }

  .example-tree-title {
    font-size: 24px;
    font-weight: 500;
  }

 .jg-card-header-prim{
  
  padding:16px !important;
}
.example-card-content{
  padding:16px !important;
}