<div *ngIf = "( dataSubj$ | async) as data ;  else elseBlock"  >    

    <mat-card class="example-card">
      <mat-card-header class="jg-card-header-prim">
          <div mat-card-avatar >
              <mat-icon class="ex-mat-icon" color="primary" > flight </mat-icon>
           </div> 
          <mat-card-title>WWW.NVAVIA.RU</mat-card-title>
          <mat-card-subtitle>Редактирование контента корпоративного сайта АО "Нижневартовскавиа" </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="example-card-content">

        <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
            <mat-chip-list>
              <mat-chip [routerLink]="[ node.id ]" >{{node.id}}</mat-chip>
              <mat-chip color="primary"  [selected] = "node.IsActive?'':null" [routerLink]="[ node.id ]" >{{node.Name}}</mat-chip>
           </mat-chip-list>  
          </cdk-nested-tree-node>

          <!-- This is the tree node template for expandable nodes -->
          <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild " class="example-tree-node">
            <mat-chip-list>
                <mat-chip color="accent" selected  [attr.aria-label]="'toggle ' + node.name" cdkTreeNodeToggle  >
                   <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                   </mat-icon>
                 </mat-chip>
                 <mat-chip [routerLink]="[ node.id ]" >{{node.id}}</mat-chip>
                 <mat-chip color="primary" [selected] = "node.IsActive?'':null"   [routerLink]="[ node.id ]" >{{node.Name}}</mat-chip>
             </mat-chip-list>  

              <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container cdkTreeNodeOutlet></ng-container>
              </div> 
           </cdk-nested-tree-node>
         </cdk-tree>

         <mat-card-actions>
          <p></p>
          <button mat-button color="primary" (click)="NewPage()" > НОВАЯ СТРАНИЦА </button>
         </mat-card-actions>
       </mat-card-content>


    </mat-card>
</div> 



<ng-template #elseBlock>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template> 


