.mat-spinner circle {
    stroke : #fff ;
 }

.tb-note {
    font-size: 10px;
    /* padding: 0 14px; */
}

.tb-ntf {
    padding: 0 0px;
}

.flex-spacer{
    flex-grow: 1;
}

.footer{
   align-self: flex-end;
   
}

.jg-fill-spaceer {
    flex: 1 1 auto;
}

.jg-footer{
    font-size: 12px;

}

.jg-header{
    z-index: 1;
}

.jg-tb-footer-note{
    font-size: 10px;
    text-align: right;
    /* padding: 0 14px;  */
}

.jg-footer-copyright{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: column;
    min-width: 150px;
    text-align: center;
    padding: 0;
    line-height: 14px;
}

.jg-smal-img{
    vertical-align:middle;
    width: 12px;
    height:12px;
}

.jn-elevation {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.icon-title {
    height: 48px;
    width: 48px;
}

.but-title{
    font-weight: 500; 
}

.jg-i-header {
    height:18px;
}    