.jn-cnt-own{
    /* background-color: blue; */
    text-align: right;
    /* height: 300px;  */
}

.jn-cnt-1{
    
    font-size: 14px;
    /* background-color: red; */
}

.jn-cnt-2{
    font-size: 24px;
    font-weight: 500;
    /* background-color: gainsboro; */
}