<mat-card class="example-card-wide">
    <mat-card-header *ngIf = "header$|async as header "  >
        <div mat-card-avatar >
                <mat-icon class="icon-disp" color="primary" > language </mat-icon>
        </div> 
        <mat-card-title>{{header.id + ' ' + header.caption}}</mat-card-title>
        <mat-card-subtitle>{{header.description}}</mat-card-subtitle>

    </mat-card-header> 

    <mat-card-content>
        <app-jn-new-item-content  [controls$]="controls$" ></app-jn-new-item-content>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" (click)="Save()" [disabled]="!(isValid$|async)" > СОХРАНИТЬ </button>
        <button mat-button color="primary" routerLink="/forms/wc"> ОТМЕНА </button>
    </mat-card-actions>

</mat-card>