<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar >
                <mat-icon class="icon-disp" color="primary" > email </mat-icon>
        </div> 
        <mat-card-title>Добровольное сообщение</mat-card-title>
        <mat-card-subtitle>
            Если вы зашли в этот раздел, значит, у Вас есть добровольное сообщение, касающееся непосредственно безопасности полетов. Если Вы хотите оставить сообщение о качестве оказанных услуг службами аэропорта, то перейдите, пожалуйста, в раздел
            
        </mat-card-subtitle>

    </mat-card-header> 

    <mat-card-content>
        <app-jn-new-item-content [item$]="item$"  [controls$]="controls$" ></app-jn-new-item-content>
    </mat-card-content>


</mat-card>