<mat-card class="example-card">
  <mat-card-header *ngIf="!!(error$ |async)" >
      <div mat-card-avatar >
              <mat-icon   class="icon-disp" color="warn" > error </mat-icon>
      </div> 
      <mat-card-title> Ошибка аутентификации:  
          {{ (error$| async) }} 
        </mat-card-title>           
      <mat-card-subtitle>
          {{ (errorDesc$| async) }}  
      </mat-card-subtitle>
  </mat-card-header> 

  <mat-card-header *ngIf="!!(code$ |async)">
    <div mat-card-avatar >
            <mat-icon  *ngIf="!!(code$ |async)"  class="icon-disp" color="primary" > emoji_emotions </mat-icon>
    </div> 
    <mat-card-title> Успешная аутентификация !  
      </mat-card-title>           
    <mat-card-subtitle>
        {{ (code$| async) }}  
    </mat-card-subtitle>
</mat-card-header> 
 
  <mat-card-content>
      <mat-card-subtitle>
      </mat-card-subtitle>                   
  </mat-card-content>


  <!-- <ng-template #loading >
          <mat-spinner class = "spinner"> </mat-spinner>
  </ng-template> -->
</mat-card>
